.sponsors-section {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  padding: 1.5rem 0;
}

.sponsors {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem 0 2rem;
}

.sponsors img {
  height: 4rem;
}
